@import "h1";
//@import "h2";
//@import "h3";
//@import "h4";
//@import "h5";
//@import "h6";
@import "input";
@import "button";
@import "p";
@import "blockquote";
@import "a";
@import "abbr";
@import "address";
@import "cite";
@import "list";
@import "textarea";

body {
  --font-sans-serif: "Lato", sans-serif;
  --font-cursive: "Pacifico", cursive;
  font-size: 30pt;

}
