$tint-purple: (
        dark: (
                "tint-underlay": #B642F0,
                "tint-main": #B642F0,
                "tint-disabled": #AF2FEE,
                "tint-low-contrast": #9D12E2,
                "tinted-button-background": #4F0971,
                "tinted-button-background-underlay": #41085E,
        ),
        light: (
                "tint-underlay": #A121D4,
                "tint-main": #AB2ADE,
                "tint-disabled": #B23DE1,
                "tint-low-contrast": #B94FE3,
                "tinted-button-background": #F1DCFA,
                "tinted-button-background-underlay": #EACAF7,
        )
)