.themeModalContainer {
  display: none;
  position: fixed;
  padding-block: 10vh;
  padding-inline: 10vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000000AA;
  z-index: 1000;
}

.themeModal {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: var(--item-main);
  border-radius: var(--border-radius-less);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1001;
}

.modalBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding-inline: 10px;
  background-color: var(--tint-main);
}

.modalBar h1, .modalBar > svg {
  color: white;
}

.modalBar > svg {
  font-size: 75%;
}

.disappear {
  opacity: 0;
}

.show {
  display: flex;
}

.themeFields {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  div {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    width: calc(100% - 20px);
    padding-inline: 20px;

    & > div:first-child {
      display: flex;
      align-items: center;
    }

    & > div:nth-child(2) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.tintButton {
  border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  margin-inline: 5px;
}

.modeButton {
  font-size: 50%;
  background-color: var(--item-main);

  &.active {
    background-color: var(--tint-main);
  }
}

.textSizeSliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 40px;
  vertical-align: middle;

}

.textSizeSliderContainer > input {
  height: 40px;
  vertical-align: middle;
}

.switchBoxContainer > div {
  margin-left: auto;
  width: min-content;
  margin-right: 0;
}

.tintContainer {
  margin-right: 5px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  flex: 1;

  & > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--item-main);
    flex: 1;
    border-radius: var(--border-radius-more);
    padding-bottom: 40px;

    & h1 {
      margin-block: 40px;
    }

    & p {
      min-width: 60px;
    }

    & > div:nth-child(4){
      flex: 1;
      height: unset;
      max-height: unset;
     }
    & > div:nth-child(2), & > div:nth-child(4), & > div:nth-child(5) {
      flex-direction: column;
      height: 160px;
      max-height: unset;
      flex: 1;

      & button {
        margin-right: 5px;
      }

      & > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: 100%;
        flex: 1;
        flex-wrap: wrap;
        max-height: unset;
        justify-content: center;
        align-items: center;
      }
    }
  }
}