.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #282A35;
  box-sizing: border-box;
  width: 50%;
  border-right: 5px solid #543177;
  padding: 50px;
  min-height: calc(100vh - 156px);
  max-height: calc(100vh - 156px);
  overflow: scroll;
  .codeContainer {
    background-color: #282A35;
    height: 100%;
    flex: 1;    font-size: 20px;

  }
}
